<div>Humans.</div>

{{#each options as |o|}}
  {{#if o.action}}
    <span title="{{o.title}}" onclick={{action o.action}}><i class="{{o.icon}}"></i></span>
  {{else if o.route}}
    {{#if o.param}}
      {{#link-to o.route o.param title=o.title target=o.target}}<i class="{{o.icon}}"></i>{{/link-to}}
    {{else}}
      {{#link-to o.route title=o.title target=o.target}}<i class="{{o.icon}}"></i>{{/link-to}}
    {{/if}}
  {{else if o.href}}
    <a title="{{o.title}}" href="{{o.href}}"><i class="{{o.icon}}"></i></a>
  {{/if}}
{{/each}}