{{#if nav.editable}}
  {{editable-image class="image" deleteConfirmation="Are you sure you want to delete your photo?" model=session.human uploadLabel="Upload photo" url=session.human.imageUrl title="Upload photo"}}
{{else}}
  {{#link-to 'index' class="image"}}<img src="{{session.human.imageUrl}}" />{{/link-to}}
{{/if}}

  <div class="full-name">{{#link-to "index"}}{{fullName}}{{/link-to}}</div>

  <div class="mode">
    <span title="Edit mode" {{action "toggleMode" true}}><i class="fas fa-pencil-alt"></i></span>
    <span title="View mode" {{action "toggleMode" false}}><i class="far fa-eye"></i></span>
  </div>