{{#if url}}
  <img src="{{url}}" />
{{/if}}

{{#if editable}}
  <input onchange={{action "onchange"}} type="file" />

  {{#if url}}
    {{menu-ul options=options}}
  {{else}}
    <button>
      <i class="fas fa-upload"></i>
      <span>{{uploadLabel}}</span>
    </button>
  {{/if}}
{{/if}}