{{#if header}}
  <h2>{{header}}</h2>
{{/if}}

{{#if listings}}
  <div>
    <div>
      <ul>
        {{#if editable}}
          <li class="hasNoImage hasHeader">
            {{#link-to modelName (uniq-id)}}
              <div class="interior">
                <div class="content">
                  <div>
                    <div class="header"><i class="fas fa-plus-circle"></i></div>
                    <div class="description">Add {{modelName}}</div>
                  </div>
                </div>
              </div>
            {{/link-to}}
          </li>
        {{/if}}

        {{#each listings as |listing|}}
          {{#if listing.hasContent}}
            {{component listingLi descriptionProperty=descriptionProperty format=format linkListings=linkListings linkUrl=linkUrl listing=listing modelName=modelName}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{else}}
  {{#unless editable}}
    <div class="no-listings">No {{pluralModelName}}</div>
  {{/unless}}
{{/if}}

{{#if showViewAll}}
  {{#if viewAllContext}}
    {{#link-to viewAllLink viewAllContext class="view-all"}}{{viewAllLabel}}{{/link-to}}
  {{else}}
    {{#link-to viewAllLink class="view-all"}}{{viewAllLabel}}{{/link-to}}
  {{/if}}
{{/if}}