<div class="mode">
  <div class="edit" title={{t "labels.edit_mode"}} {{action "toggleMode" true}}></div>
  <div class="view" title={{t "labels.view_mode"}} {{action "toggleMode" false}}></div>
</div>

{{#unless model.destroyed}}
  <div class="options">
    {{#if isSaving}}
      <div class="save saving"></div>
    {{else if isNotDeleted}}
      {{#if hasChanges}}
        <div class="save" {{action "save"}}></div>
      {{else if hasSaved}}
        <div class="save saved"></div>
      {{/if}}
    {{/if}}

    {{#if isDeleting}}
      <div class="delete deleting"></div>
    {{else if showDelete}}
      <div class="delete" {{action "delete"}}></div>
    {{/if}}
  </div>
{{/unless}}

<div class="toggle" title={{t "labels.toggle_options"}} {{action "toggleOptions"}}></div>